# pandas Basics
**pandas** is a library providing fast, flexible, and expressive data structures for data analysis in Python.

## Main Features
* pandas has two primary data structures, Series (1-dimensional) and DataFrame (2-dimensional). 
* For R users, DataFrame provides everything that Râ€™s data.frame provides and much more. 
* pandas is built on top of NumPy and is intended to integrate well within a scientific computing environment with many other 3rd party libraries

In [1]:
import pandas as pd

swaps = pd.read_excel('MktData_CurveBootstrap.xls', skiprows = 37, usecols = 'D:F')

swaps

         Swap       BID       ASK
0  2009-02-19  4.120000  4.140000
1  2010-02-19  3.861000  3.882000
2  2011-02-21  3.882000  3.902000
3  2012-02-20  3.948000  3.968000
4  2013-02-19  4.032000  4.052000
5  2014-02-19  4.117000  4.137000
6  2015-02-19  4.202000  4.222000
7  2016-02-19  4.283000  4.303000
8  2017-02-20  4.357000  4.377000
9  2018-02-19  4.424000  4.444000
10 2019-02-19  4.473000  4.513000
11 2020-02-19  4.524000  4.564000
12 2021-02-19  4.565557  4.609897
13 2022-02-21  4.603391  4.646468
14 2023-02-20  4.636000  4.676000
15 2024-02-19  4.662910  4.701032
16 2025-02-19  4.684683  4.722343
17 2026-02-19  4.701897  4.740038
18 2027-02-19  4.715393  4.754474
19 2028-02-21  4.726000  4.766000
20 2029-02-19  4.734259  4.774764
21 2030-02-19  4.740543  4.781173
22 2031-02-19  4.744987  4.785489
23 2032-02-19  4.747751  4.788001
24 2033-02-21  4.749000  4.789000
25 2034-02-20  4.748885  4.788744
26 2035-02-19  4.747625  4.787446
27 2036-02-19  4.745420  4.785272
28 2037-02-19  4.742470  4.782392
29 2038-02-19  4.739000  4.779000
30 2039-02-21  4.735160  4.775220
31 2040-02-20  4.731073  4.771170
32 2041-02-19  4.726735  4.766852
33 2042-02-19  4.722197  4.762318
34 2043-02-19  4.717499  4.757613
35 2044-02-19  4.712682  4.752779
36 2045-02-20  4.707758  4.747832
37 2046-02-19  4.702834  4.742882
38 2047-02-19  4.697897  4.737920
39 2048-02-19  4.693000  4.733000
40 2049-02-19  4.688162  4.728145
41 2050-02-21  4.683384  4.723355
42 2051-02-20  4.678708  4.718672
43 2052-02-19  4.674089  4.714050
44 2053-02-19  4.669492  4.709454
45 2054-02-19  4.664948  4.704914
46 2055-02-19  4.660436  4.700408
47 2056-02-21  4.655924  4.695904
48 2057-02-19  4.651464  4.691454
49 2058-02-19  4.647000  4.687000